apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "thriftserver-data"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "hue"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "5Gi"